<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
<servlet>
<servlet-name>BinariosServlet</servlet-name>
<servlet-class>Servlets.ServletConversionBinarios</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BinariosServlet</servlet-name>
<url-pattern>/CalcularBinarios</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>MayorServlet</servlet-name>
<servlet-class>Servlets.CalcularNumeroMayor</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MayorServlet</servlet-name>
<url-pattern>/CalcularMayor</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>PitagorasServlet</servlet-name>
<servlet-class>Servlets.HipotenusaServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>PitagorasServlet</servlet-name>
<url-pattern>/Calcular</url-pattern>
</servlet-mapping>
<welcome-file-list>
<welcome-file>Principal.html</welcome-file>
</welcome-file-list>
</web-app>